models/model results/
models/training_1/
models/for_use/
models/model results/
models/saved_models/
models/__pycache__/
models/.ipynb_checkpoints/
models/data/fma/classified_small/
models/data/fma/fma_metadata/
models/data/fma/fma_small/
models/data/fma/fma_medium
models/data/fma/img/
models/data/fma/classified_medium1
models/data/fma/classified_medium2
models/data/fma/classified_medium3
*.mp3
test/sample_sounds/
runs/

